* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #d6e7d8 !important;
}

/*Barra de navegacion*/

.custom-pink-bg {
    background-color: rgba(116, 66, 66, 0.7);
}

.navbar-brand {
    padding-left: 1rem;
    color: white !important;
    font-style: oblique;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    font-weight: bold ;
}

/*Formulario*/

.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(232, 240, 240);
    padding: 40px;
    border-radius: 10px;
}
