* {
    margin: 0;
    padding: 0;
}

.custom-pink-bg {
    background-color: rgba(58, 34, 34, 0.7);
}

.navbar-brand {
    padding-left: 1rem;
    color: white !important;
    font-style: oblique;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
}

.banner {
    background: url(/img/banner.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.custom-container, .musica-contenedor {
    background-color: rgb(228, 197, 221);
}

.photo,
.videos {
    display: flex;
    flex-wrap: wrap;
}

.img, video {
    padding: 10px;
    margin: auto;
    border-radius: 50px;
}

.heading {
    width: 100%;
    height: 135px;
    text-align: center;
    padding: 35px 20px 20px 20px;
    display: flex;
    letter-spacing: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    
}

.musica-contenedor {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "musica1" "musica2" "musica3";
}


.footer-contenedor {
    height: 80px;
    color: rgb(227, 241, 241);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}